<a href="https://colab.research.google.com/github/dSudario9/Modelo-Regress-o-Logistica-/blob/main/Naive_Bayes_NB_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Bibliotecas Basicas 
import pandas as pd
import numpy as np

In [5]:
# IMPORTA DATASET

iris_df = pd.read_csv("/content/iris.csv", index_col=0)
iris_df.head()  #Display

   sepal length (cm)  sepal width (cm)  ...  target  target_name
0                5.1               3.5  ...       0       setosa
1                4.9               3.0  ...       0       setosa
2                4.7               3.2  ...       0       setosa
3                4.6               3.1  ...       0       setosa
4                5.0               3.6  ...       0       setosa

[5 rows x 6 columns]

In [15]:
#import das Bibliotecas para preparar Modelo .

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [14]:
# Drop delunas nao ultilizadas. 

X = iris_df.drop(columns=['target_name','target'])
y = iris_df[["target"]]

In [21]:
#Separação de Modelo Train e Test , será usado 20% do dataset para Test 

X_train ,X_test , y_train, y_test = train_test_split (X, y, test_size =0.2)

In [22]:
#Conferindo Shape dos dados. 
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120, 1)
(30, 1)

In [25]:
#Configurando Modelo Classificador 

clf= GaussianNB()

In [27]:
#Treinamento da Base. X_train , y_train 

clf.fit(X_train , y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [30]:
# predct 

y_pred= clf.predict(X_test)

In [32]:
# Respostas que o Modelo conseguiu chegar . 
y_pred

array([0, 0, 0, 1, 2, 1, 1, 0, 2, 1, 0, 0, 2, 1, 1, 1, 0, 0, 1, 2, 1, 1,
       2, 2, 0, 0, 1, 0, 1, 1])

In [35]:
#ACURÁCIA   para verificar quantos % o Modelo consegiu acertar .

from sklearn.metrics import accuracy_score

accuracy_score(y_test , y_pred)* 100

96.66666666666667

**Em contexto Geral vimos que nosso modelo de classificação GaussianNB,   teve uma acuracia acima de 96%. **