<a href="https://colab.research.google.com/github/dSudario9/Modelos-Supervisionados-Diversos/blob/main/Regress%C3%A3o_Log%C3%ADstica_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Bibliotecas basicas . 
import pandas as pd

In [ ]:
#Importando Dataset
iris_df = pd.read_csv('iris.csv',index_col=0)
iris_df.head() #Leitura

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [ ]:
#Vamos iniciar a separação dos dados para fazer o text 

# Import  de blibliotecas usadas para Modelo Regressão Logistico . 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
#DROP DE COLUNAS QUE NAO USAREMOS . 

X = iris_df.drop(columns=["target","target_name"])
y = iris_df[["target"]]

In [ ]:
 #Preparando Modelo e usando 30% dos dados para test

X_train, X_test, y_train, y_test = train_test_split(X, y ,test_size=0.3)

In [ ]:
#Conferir o tamanho das amostras. 

print("Linhas e Colunas",X_train.shape)
print("Linhas e Colunas",X_test.shape)
print("Linhas e Colunas",y_train.shape)
print("Linhas e Colunas",y_test.shape)

#Dados preparados para Alimentar nosso modelo .

Linhas e Colunas (105, 4)
Linhas e Colunas (45, 4)
Linhas e Colunas (105, 1)
Linhas e Colunas (45, 1)

In [ ]:
#Construindo Classificador Regressão Logistica .

#Modelo  'clf = LogisticRegression()''

clf = LogisticRegression()

In [ ]:
# Processo de Treinar Modelo, (Nesse Topico mostramos  pro Modelo LogisticRegression quais features devem ser treinados )


clf.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [ ]:
#Agora vamos fazer a predição da nossa amostra de teste e verificar se o modelo consegiu performar. 

y_pred = clf.predict(X_test)

In [ ]:
#Visualizar Y_PRED

y_pred

array([1, 0, 2, 0, 2, 0, 1, 0, 0, 0, 0, 2, 2, 1, 0, 2, 2, 2, 2, 1, 1, 0,
       1, 2, 2, 1, 0, 1, 1, 1, 1, 0, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2,
       2], dtype=int64)

In [ ]:
#Aqui mostra a  performace do modelo que o modelo consegiu treinar .

# 
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)*100

95.55555555555556